/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #fff;
    background: #ed7d7d;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/
#article1 {
    background-color: #B26219;
}
#article2 {
    background-color: #FFD5AE;
}
#article3 {
    background-color: #FFBD82;
}
section {
    flex-basis: 50%;
    padding: 15px;
}
.text {
    background-color: transparent;
    font-size: 16px;
    line-height: 1.6;
}
.text h2 {
    text-align: left;
    font-size: 24px;
}
article {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px 0;
    padding: 20px;
}
header {
    display: flex;
    align-items: space-between;
    background-color: #836b6b;
    padding: 10px 20px;
}
nav {
    display: flex;
}
nav a {
    padding: 10px;
    color: #000;
    text-decoration: none;
}
nav a:hover {
    background-color: #666;
}
footer {
    display: flex;
    background-color: #836b6b;
    padding: 10px 20px;
}
footer p {
    margin: 0;
    color: #fff;
}
/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #379CB2;
}
a:hover {
    color: #82E8FF;
}
p, h2 {
    color: #333;
}